
.listaDeCategoria {
    padding: 40px 10%;
    font-family: sans-serif;
    color: rgb(36, 32, 107);
    background-color: whitesmoke;
}

.listaDeCategoria h1 {
    padding: 10px;
    margin-left: 5%;
    
}

.linhaDeColunas{
    display: flex;
    justify-content: center;    
}

.listaDeCategoria .linhaDeColunas {
    display: grid;
    grid-template-columns: 40% 40%;
}

.iconeDeCategoria {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* background-color: blue; */
    /* margin: 10px; */
}

.iconeDeCategoria-box {
    box-shadow: 0 0 30px rgba(36, 32, 107, 0.199);
    width: 300px;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    border: 2px solid rgb(36, 32, 107);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}