.listaDeCategoria h1 {
    padding: 10px;
    font-family: sans-serif;
    color: rgb(36, 32, 107);
}

.listaDeCategoria .linhaDeColunas{
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.iconeDeCategoria{
    width: 500px;
}
