.categoria h1 {
    padding: 10px;
    font-family: sans-serif;
    color: rgb(36, 32, 107);

}

.l1 {
    background-color: brown;
}

.l2 {
    background-color: rgb(36, 32, 107);
}

.col{
    display: flex;
    flex-direction: column;
}

.fom {
    display: flex;
    flex-direction: row;
}